<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <!-- Core CSS - Include with every page -->
    <link href="@Url.Content("/Content/")assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="@Url.Content("/Content/")assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="@Url.Content("/Content/")assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="@Url.Content("/Content/")assets/css/style.css" rel="stylesheet" />
    <link href="@Url.Content("/Content/")assets/css/main-style.css" rel="stylesheet" />

</head>

<body class="body-Login-back">

    <div class="container">

        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center logo-margin ">
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/Admin/LoginCheck" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="User Name" name="Name" type="text" autofocus required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="Password" type="password" required>
                                </div>
                                
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" class="btn btn-lg btn-danger btn-block" value="Login" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="@Url.Content("/Content/")assets/plugins/jquery-1.10.2.js"></script>
    <script src="@Url.Content("/Content/")assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="@Url.Content("/Content/")assets/plugins/metisMenu/jquery.metisMenu.js"></script>

</body>

</html>
