@model Project4Geeks.Models.Question

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Question</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Language.Language1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Language.Language1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.FName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.FName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Admin.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Admin.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Statement)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Statement)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
